version: 2.1

orbs:
   - node: circle/node@4.7

jobs:
  build:
    docker:
      - image: cimg/node:16.13.2
    working_directory: ~/my-project
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Test React App
          command: npm run test
      - run:
          name: Build React App
          command: npm run build
      - run:
          name: "Deploy app to Firebase Hosting"
          command: "./node_modules/.bin/firebase deploy --token=$FIREBASE_TOKEN"
workflows:
  sample: #This is the name of the workflows, feel free to change it to better match your workflow
    
  build_and_deploy:
    jobs:
      - build
      - node/test:
                version: '16.10'
                pkg-manager: npm
