.post{
    /* border: 1px solid #ccc; */
    border-radius: 20px;
    margin: 15px 0;
    background-color: rgb(247, 247, 247);
    padding: 10px 0;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.content{
    padding: 5px 10px;
    /* text-align: left; */
}
.content_text{
    text-align: left;
}
.action{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 20px 10px 20px;
}
.comment{
    padding: 10px 20px;
}
.comment_item{
    background-color: rgb(226, 226, 226);
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 20px;
}
.img_comment{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
.body_comment{
    margin-left: 50px;
    text-align: left;
}